<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Game Finished</title>
</head>
<body>

<form action="https://workersandbox.mturk.com/mturk/externalSubmit" id="endForm" method="post" name="endForm">
	<input id="dataf" name="dataf" type="hidden" value="{{ data }}" />
	<input id="assignmentId" name="assignmentId" type="hidden" value="{{ assignment_id }}" />
	<input id="workerId" name="workerId" type="hidden" value="{{ worker_id }}" />
	<input id="hitId" name="hitId" type="hidden" value="{{ hit_id }}" />
</form>


Game finished. Thank You!

</body>

<script>

$( document ).ready(function() {
    document.getElementById("endForm").submit();
});


</script>

</html>